<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Admin - LDPanamericana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>📊 Panel de contactos</h1>

<table border="1" style="margin:auto; width:80%;">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Empresa</th>
        <th>Codigo_pais</th>
        <th>Teléfono</th>
        <th>Mensaje</th>
    </tr>

    {% for c in contactos %}
    <tr>
        <td>{{ c[0] }}</td>
        <td>{{ c[1] }}</td>
        <td>{{ c[2] }}</td>
        <td>{{ c[3] }}</td>
        <td>{{ c[4] }}</td>
        <td>{{ c[5] }}</td>
        <td>{{ c[6] }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>